@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  z-index: 5;
  background-color: transparent;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.nav .nav__inside-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav .nav__inside-container .logo__container {
  position: relative;
  margin-left: 10px;
}

.nav .nav__inside-container .logo__container .logo {
  top: -20px;
  position: absolute;
}

.nav .nav__inside-container .logo__container .toggleBtn {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 5;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.nav .nav__inside-container .logo__container .toggleBtn .hamburger {
  top: 5px;
  position: absolute;
  left: 0px;
  display: none;
  cursor: pointer;
}

.nav .nav__inside-container .shop__name {
  position: absolute;
  font-size: 25px;
  width: 125px;
  left: calc(50% - 70px);
  top: 2px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8px;
  font-weight: bold;
  display: none;
}

.nav .nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__bar .nav__item {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  color: #9c9c9c;
  margin: 0px 20px 0px 20px;
}

.nav .nav__bar .nav__item:hover {
  color: black;
  cursor: pointer;
}

.lp {
  background-color: #f5f5f5;
  margin: 0 auto;
}

.lp .carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f5f5;
  max-width: 1400px;
  margin: 0 auto;
}

.lp .carousel .arrows {
  width: 30px;
  height: 42px;
  position: absolute;
  left: calc(50% + 15px);
  margin-left: -30px;
  bottom: 10px;
}

.lp .carousel .arrows path {
  stroke: black;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

.lp .carousel .arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.lp .carousel .arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.lp .carousel .arrow {
  position: absolute;
  cursor: pointer;
  top: calc(50% - 25px);
  width: 30px;
  height: 30px;
  z-index: 3;
}

.lp .carousel #arrow-left {
  left: 10px;
  background-image: url("https://image.flaticon.com/icons/svg/271/271220.svg");
  background-size: 30px 30px;
}

.lp .carousel #arrow-right {
  right: 10px;
  background-image: url("https://image.flaticon.com/icons/svg/271/271228.svg");
  background-size: 30px 30px;
}

.lp .carousel .slide {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  opacity: 0;
  -webkit-animation: fadein 2s linear 1 normal forwards;
  z-index: 2;
}

.lp .carousel .slide .slide__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 100px;
  right: 20%;
  bottom: calc(50% - 40px);
  z-index: 2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lp .carousel .slide .slide__info .slide__text {
  font-size: 24px;
  font-weight: bold;
  color: black;
  font-family: 'Nothing You Could Do', cursive;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lp .carousel .slide_1 {
  background-image: url("../pictures/plant__111.png");
  background-position: 25% 0%;
  background-size: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lp .carousel .slide_2 {
  background-image: url("../pictures/plant_2.png");
  background-position: 25% 0%;
  background-size: 70vh;
  display: none;
}

.lp .carousel .slide_3 {
  background-image: url("../pictures/chair.png");
  background-position: 35% 50%;
  background-size: 60vh;
  display: none;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.main .sidebar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .sidebar__menu .categories__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.main .sidebar__menu .categories__button .strong {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  cursor: default;
  margin: 16px 10px 16px 0px;
}

.main .sidebar__menu .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
  width: 270px;
  border-bottom: 1px solid #b2b2b2;
  color: #737373;
  margin-bottom: 0;
  margin-top: 0;
}

.main .sidebar__menu .categories .category {
  margin: 16px 0px 16px 0px;
  font-size: 18px;
  cursor: pointer;
}

.main .sidebar__menu .filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

.main .sidebar__menu .filter__container > div {
  margin: 15px 0px 15px 0px;
}

.main .sidebar__menu .filter__container .filterby {
  margin-bottom: 30px;
  font-size: 24px;
}

.main .sidebar__menu .filter__container .filterbyprice {
  font-size: 20px;
}

.main .sidebar__menu .filter__container .filter__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .sidebar__menu .filter__container .filter__cont .price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 170px;
}

.main .sidebar__menu .filter__container .filter__cont .price__container .min__price, .main .sidebar__menu .filter__container .filter__cont .price__container .max__price {
  width: 80px;
  height: 30px;
  background: lightgrey;
  background: white;
  border: 1px solid grey;
}

.main .sidebar__menu .filter__container .filter__cont .btn__filter {
  color: black;
  background: #f5f5f5;
  width: 60px;
  height: 30px;
  border: none;
  margin-left: 30px;
  cursor: pointer;
}

.main .sidebar__menu .color__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .sidebar__menu .color__cont .pick__color {
  font-size: 20px;
  margin-bottom: 10px;
}

.main .sidebar__menu .color__cont .round__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 270px;
  margin-top: 10px;
}

.main .sidebar__menu .color__cont .round__container input[type="radio"] {
  display: none;
}

.main .sidebar__menu .color__cont .round__container input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 10px;
}

.main .sidebar__menu .color__cont .round__container input[type="radio"] + label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -5px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}

.main .sidebar__menu .color__cont .round__container input[type="radio"] + label span img {
  height: 15px;
  width: 15px;
  padding-bottom: 2px;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main .sidebar__menu .color__cont .round__container input[type="radio"] + label .white {
  border: 1px solid lightgrey;
}

.main .sidebar__menu .color__cont .round__container input[type="radio"]#color-1 + label span {
  background-color: #c7c7c7;
}

.main .sidebar__menu .color__cont .round__container input[type="radio"]#color-2 + label span {
  background-color: #ffffff;
}

.main .sidebar__menu .color__cont .round__container input[type="radio"]#color-3 + label span {
  background-color: #ff8b8b;
}

.main .sidebar__menu .color__cont .round__container input[type="radio"]#color-4 + label span {
  background-color: #b2e6fe;
}

.main .sidebar__menu .color__cont .round__container input[type="radio"]#color-5 + label span {
  background-color: #beffc9;
}

.main .sidebar__menu .color__cont .round__container input[type="radio"]:checked + label span img {
  opacity: 1;
}

.main .sidebar__menu .sizes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .sidebar__menu .sizes__container .size__item {
  color: #737373;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}

.main .sidebar__menu .sizes__container .picksize {
  font-size: 20px;
  color: black;
  cursor: default;
}

.main .sidebar__menu .brands__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
  width: 270px;
  border-bottom: 1px solid #b2b2b2;
}

.main .sidebar__menu .brands__container .brand__item {
  color: #737373;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}

.main .sidebar__menu .brands__container .pickbrand {
  font-size: 20px;
  color: black;
  cursor: default;
}

.main .sidebar__menu .tags__container {
  width: 270px;
}

.main .sidebar__menu .tags__container .tags__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.main .sidebar__menu .tags__container .tags__container-inside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .sidebar__menu .tags__container .tags__container-inside .tag {
  font-size: 18px;
  color: #737373;
  margin: 6px 0px 6px 0px;
}

.main .sidebar__menu > div {
  margin: 50px 0px 50px 0px;
}

.main .content__container {
  margin: 0 auto;
  padding: 50px;
  position: relative;
}

.main .content__container .list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.main .content__container .list__container p {
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.main .content__container .list__container p:hover {
  font-weight: bold;
}

.main .content__container .categories__toggle {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  margin: 10px;
}

.main .content__container .categories__toggle .categories {
  font-weight: bold;
}

.main .content__container .categories__toggle .toggle {
  cursor: pointer;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.main .content__container .categories__toggle .toggle .arrow-down {
  width: 50px;
  height: 50px;
}

.main .content__container .toggle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 600ms ease-in-out;
  transition: max-height 600ms ease-in-out;
  display: none;
  margin: 10px;
}

.main .content__container .toggle-content .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #737373;
  margin: 20px 0px 20px 0px;
}

.main .content__container .toggle-content .categories .category {
  font-size: 18px;
  cursor: pointer;
  margin: 10px 20px 10px 0px;
}

.main .content__container .toggle-content.is-visible {
  max-height: 600px;
}

.main .content__container .price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .content__container .price__container .set__price {
  font-size: 18px;
  margin-right: 20px;
}

.main .content__container .price__container .min__price, .main .content__container .price__container .max__price {
  width: 30%;
  padding-left: 10px;
  height: 35px;
}

.main .content__container .price__container .btn__filter {
  color: black;
  background: #f5f5f5;
  width: 20%;
  height: 40px;
  border: none;
  margin-left: 30px;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.main .content__container .price__container .btn__filter:hover {
  border: 2px solid grey;
}

.main .content__container .sort__container {
  margin: 16px 0px 0px 10px;
}

.main .content__container .sort__container .sort {
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
}

.main .content__container .product__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 20px;
  margin: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .content__container .product__container .product {
  height: 500px;
  width: 400px;
  background: white;
  position: relative;
  font-size: 18px;
  border: 1px solid #EBEBEB;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .content__container .product__container .product:hover {
  border: 1px solid grey;
}

.main .content__container .product__container .product:active {
  border: 2px solid grey;
}

.main .content__container .product__container .product .name {
  position: absolute;
  font-size: 18px;
  left: 30px;
  bottom: 65px;
}

.main .content__container .product__container .product .price {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 18px;
  color: #6f6f6f;
}

.newsletter__container {
  background-color: #f5f5f5;
}

.newsletter__container .wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}

.newsletter__container .wrapper .newsletter__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.newsletter__container .wrapper .newsletter__box .discount {
  font-size: 42px;
  font-style: oblique;
}

.newsletter__container .wrapper .newsletter__box .input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 670px;
}

.newsletter__container .wrapper .newsletter__box .input__container .newsletter__email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
  width: 500px;
  height: 50px;
  border: 3px solid #eeeeee;
}

.newsletter__container .wrapper .newsletter__box .input__container .newsletter__submit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 170px;
  height: 50px;
  border: 3px solid #bbbbbb;
  background: white;
  text-align: center;
  color: black;
  font-size: 20px;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  cursor: pointer;
}

.newsletter__container .wrapper .newsletter__box .input__container .newsletter__submit:hover {
  border: 3px solid black;
}

.footer__container {
  background-color: white;
}

.footer__container .wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
}

.footer__container .wrapper .footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer__container .wrapper .footer__box .rights {
  font-size: 18px;
  color: #a3a3a3;
}

.footer__container .wrapper .footer__box .footer__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  width: 70vw;
}

.footer__container .wrapper .footer__box .footer__nav-container .footer__nav-item {
  color: black;
  font-size: 18px;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}

.menu .menu__container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  -webkit-transition: all 400ms ease-in-out 400ms;
  transition: all 400ms ease-in-out 400ms;
}

.menu .menu__container .menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 150px;
  width: 100%;
}

.menu .menu__container .menu__items .menu__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  font-size: 20px;
  padding: 20px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border-top: 2px solid #c2c4c4;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu .menu__container .menu__items .menu__item:hover {
  font-weight: 600;
}

.menu .menu__container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.menu .menu__container .socials .social {
  margin: 5px;
  font-size: 20px;
}

.menu .menu__container .socials .socials__inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__container .socials .fa {
  font-size: 24px;
  cursor: pointer;
}

.menu .menu__container .copyright {
  margin: 10px 0px 10px 0px;
  border-top: 2px solid #c2c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.menu .menu__container .copyright .copy {
  font-size: 24px;
}

.menu:before, .menu:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 0vw;
  height: 100vh;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  background: #f5f5f5;
}

.menu:before {
  left: 0px;
}

.menu.active:after {
  width: 100vw;
  visibility: visible;
}

.menu.active .menu__container {
  top: 50%;
  visibility: visible;
}

.footer__container .newsletter__popup {
  display: none;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 300px;
  font-size: 24px;
  position: fixed;
  background: #f5f5f5;
  z-index: 10;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  -webkit-box-shadow: 0 0 0 10px #cccccc;
          box-shadow: 0 0 0 10px #cccccc;
}

.footer__container .newsletter__popup .gift {
  height: 100px;
  width: 100px;
  -webkit-animation: leaves 1s infinite alternate;
}

.footer__container .newsletter__popup .close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.footer__container .newsletter__popup .close:hover {
  font-weight: bold;
}

@-webkit-keyframes leaves {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes leaves {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media screen and (max-width: 1400px) {
  .lp .carousel .slide .slide__info {
    right: 10%;
  }
  .main .sidebar__menu {
    display: none;
  }
  .main .content__container {
    padding: 50px 0px 50px 0px;
  }
  .main .content__container .toggle-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .content__container .sort__container .sort {
    font-size: 18px;
  }
  .main .content__container .categories__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .newsletter__container .wrapper {
    padding: 50px 20px 50px 20px;
  }
  .newsletter__container .wrapper .newsletter__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
  }
}

@media screen and (max-width: 1250px) {
  .wrapper {
    width: auto;
  }
  .wrapper .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .wrapper .main .content__container {
    padding: 50px 0px 50px 0px;
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .nav {
    height: calc(50px + 5vw);
    background: white;
  }
  .nav .nav__inside-container .shop__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .nav__inside-container .logo__container .logo {
    display: none;
  }
  .nav .nav__inside-container .logo__container .toggleBtn .hamburger {
    top: calc(10%+12px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 33px;
    width: 33px;
  }
  .nav .nav__inside-container .nav__bar .nav__item {
    display: none;
  }
  .nav .nav__inside-container .nav__bar .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lp .carousel .slide .slide__info {
    width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: calc(50% - 150px);
    bottom: 20%;
  }
  .lp .carousel .slide_1 {
    background-position: 55% 10%;
    background-size: calc(200px + 70vw);
  }
  .lp .carousel .slide_2 {
    background-position: 50% 10%;
    background-size: calc(200px + 45vw);
  }
  .lp .carousel .slide_3 {
    background-position: 65% 50%;
    background-size: 60vw;
  }
  .wrapper .main .content__container .categories__toggle {
    margin: 10px;
  }
  .wrapper .main .content__container .product__container {
    margin: 50px 0px 50px 0px;
  }
  .wrapper .main .content__container .product__container .product {
    height: calc(130px + 30vw);
    width: calc(50px + 30vw);
  }
  .wrapper .main .content__container .product__container .product .name {
    left: 10px;
    bottom: 30px;
  }
  .wrapper .main .content__container .product__container .product .price {
    bottom: 10px;
    left: 10px;
  }
  .newsletter__container .wrapper .newsletter__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
  }
  .newsletter__container .wrapper .newsletter__box .discount {
    font-size: 35px;
  }
  .newsletter__container .wrapper .newsletter__box .input__container {
    width: 100%;
    max-width: 670px;
  }
  .newsletter__container .wrapper .newsletter__box .input__container .newsletter__email {
    width: 70%;
  }
  .newsletter__container .wrapper .newsletter__box .input__container .newsletter__submit {
    width: 30%;
  }
  .footer__container .newsletter__popup {
    width: 80vw;
    left: calc(50% - 40vw);
    font-size: 20px;
    text-align: center;
  }
  .footer__container .wrapper .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 70px;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    background-color: rgba(254, 254, 254, 0.996);
    -webkit-box-shadow: rgba(17, 17, 17, 0.55) 0px 13px 13px -16px;
            box-shadow: rgba(17, 17, 17, 0.55) 0px 13px 13px -16px;
    height: 60px;
  }
  .nav .nav__inside-container .logo__container .toggleBtn {
    top: 8px;
  }
  .wrapper .main .content__container .product__container .product .name {
    font-size: 14px;
    left: 5px;
    bottom: 25px;
  }
  .wrapper .main .content__container .product__container .product .price {
    font-size: 14px;
    bottom: 5px;
    left: 5px;
  }
  .lp .carousel .arrow {
    display: none;
  }
  .footer__container .wrapper .footer__box .footer__nav-container {
    width: 90vw;
  }
}
/*# sourceMappingURL=style.css.map */